@charset "utf-8";

.has-small-font-size {
  font-size: $size-small;
}
.has-normal-font-size {
  font-size: $size-normal;
}
.has-mediun-font-size {
  font-size: $size-medium;
}
.has-large-font-size {
  font-size: $size-large;
}
