@charset "utf-8";

$primary: $turquoise !default;
$primary-light: lighten($primary, 5%) !default;
$primary-lighter: lighten($primary, 12%) !default;
$primary-dark: darken($primary, 5%) !default;
$primary-darker: darken($primary, 12%) !default;

$secondary: $purple !default; // ADDED IN CYPHER THEME
$secondary-light: lighten($secondary, 5%) !default;
$secondary-lighter: lighten($secondary, 12%) !default;
$secondary-dark: darken($secondary, 5%) !default;
$secondary-darker: darken($secondary, 12%) !default;

.has-primary-color {
  color: $primary !important;
}

.has-primary-background-color {
  background-color: $primary !important;
}

.has-primary-light-color {
  color: $primary-light !important;
}

.has-primary-light-background-color {
  background-color: $primary-light !important;
}

.has-primary-lighter-color {
  color: $primary-lighter !important;
}

.has-primary-lighter-background-color {
  background-color: $primary-lighter !important;
}

.has-primary-dark-color {
  color: $primary-dark !important;
}

.has-primary-dark-background-color {
  background-color: $primary-dark !important;
}

.has-primary-darker-color {
  color: $primary-darker !important;
}

.has-primary-darker-background-color {
  background-color: $primary-darker !important;
}

.has-secondary-color {
  color: $secondary !important;
}

.has-secondary-background-color {
  background-color: $secondary !important;
}

.has-secondary-light-color {
  color: $secondary-light !important;
}

.has-secondary-light-background-color {
  background-color: $secondary-light !important;
}

.has-secondary-lighter-color {
  color: $secondary-lighter !important;
}

.has-secondary-lighter-background-color {
  background-color: $secondary-lighter !important;
}

.has-secondary-dark-color {
  color: $secondary-dark !important;
}

.has-secondary-dark-background-color {
  background-color: $secondary-dark !important;
}

.has-secondary-darker-color {
  color: $secondary-darker !important;
}

.has-secondary-darker-background-color {
  background-color: $secondary-darker !important;
}

.has-black-color {
  color: $black !important;
}

.has-black-background-color {
  background-color: $black !important;
}

.has-black-bis-color {
  color: $black-bis !important;
}

.has-black-bis-background-color {
  background-color: $black-bis !important;
}

.has-black-ter-color {
  color: $black-ter !important;
}

.has-black-ter-background-color {
  background-color: $black-ter !important;
}

.has-grey-darker-color {
  color: $grey-darker !important;
}

.has-grey-darker-background-color {
  background-color: $grey-darker !important;
}

.has-grey-dark-color {
  color: $grey-dark !important;
}

.has-grey-dark-background-color {
  background-color: $grey-dark !important;
}

.has-grey-color {
  color: $grey !important;
}

.has-grey-background-color {
  background-color: $grey !important;
}

.has-grey-light-color {
  color: $grey-light !important;
}

.has-grey-light-background-color {
  background-color: $grey-light !important;
}

.has-grey-lighter-color {
  color: $grey-lighter !important;
}

.has-grey-lighter-background-color {
  background-color: $grey-lighter !important;
}

.has-white-ter-color {
  color: $white-ter !important;
}

.has-white-ter-background-color {
  background-color: $white-ter !important;
}

.has-white-bis-color {
  color: $white-bis !important;
}

.has-white-bis-background-color {
  background-color: $white-bis !important;
}

.has-white-color {
  color: $white !important;
}

.has-white-background-color {
  background-color: $white !important;
}

.has-orange-color {
  color: $orange !important;
}

.has-orange-background-color {
  background-color: $orange !important;
}

.has-yellow-color {
  color: $yellow !important;
}

.has-yellow-background-color {
  background-color: $yellow !important;
}

.has-green-color {
  color: $green !important;
}

.has-green-background-color {
  background-color: $green !important;
}

.has-turquoise-color {
  color: $turquoise !important;
}

.has-turquoise-background-color {
  background-color: $turquoise !important;
}

.has-cyan-color {
  color: $cyan !important;
}

.has-cyan-background-color {
  background-color: $cyan !important;
}

.has-blue-color {
  color: $blue !important;
}

.has-blue-background-color {
  background-color: $blue !important;
}

.has-purple-color {
  color: $purple !important;
}

.has-purple-background-color {
  background-color: $purple !important;
}

.has-red-color {
  color: $red !important;
}

.has-red-background-color {
  background-color: $red !important;
}
