@charset "utf-8";

.has-primary-color {
  color: $primary;
}

.has-primary-background-color {
  background-color: $primary;
}

.has-primary-light-color {
  color: $primary-light;
}

.has-primary-light-background-color {
  background-color: $primary-light;
}

.has-primary-lighter-color {
  color: $primary-lighter;
}

.has-primary-lighter-background-color {
  background-color: $primary-lighter;
}

.has-primary-dark-color {
  color: $primary-dark;
}

.has-primary-dark-background-color {
  background-color: $primary-dark;
}

.has-primary-darker-color {
  color: $primary-darker;
}

.has-primary-darker-background-color {
  background-color: $primary-darker;
}

.has-secondary-color {
  color: $secondary;
}

.has-secondary-background-color {
  background-color: $secondary;
}

.has-secondary-light-color {
  color: $secondary-light;
}

.has-secondary-light-background-color {
  background-color: $secondary-light;
}

.has-secondary-lighter-color {
  color: $secondary-lighter;
}

.has-secondary-lighter-background-color {
  background-color: $secondary-lighter;
}

.has-secondary-dark-color {
  color: $secondary-dark;
}

.has-secondary-dark-background-color {
  background-color: $secondary-dark;
}

.has-secondary-darker-color {
  color: $secondary-darker;
}

.has-secondary-darker-background-color {
  background-color: $secondary-darker;
}

.has-black-color {
  color: $black;
}

.has-black-background-color {
  background-color: $black;
}

.has-black-bis-color {
  color: $black-bis;
}

.has-black-bis-background-color {
  background-color: $black-bis;
}

.has-black-ter-color {
  color: $black-ter;
}

.has-black-ter-background-color {
  background-color: $black-ter;
}

.has-grey-darker-color {
  color: $grey-darker;
}

.has-grey-darker-background-color {
  background-color: $grey-darker;
}

.has-grey-dark-color {
  color: $grey-dark;
}

.has-grey-dark-background-color {
  background-color: $grey-dark;
}

.has-grey-color {
  color: $grey;
}

.has-grey-background-color {
  background-color: $grey;
}

.has-grey-light-color {
  color: $grey-light;
}

.has-grey-light-background-color {
  background-color: $grey-light;
}

.has-grey-lighter-color {
  color: $grey-lighter;
}

.has-grey-lighter-background-color {
  background-color: $grey-lighter;
}

.has-white-ter-color {
  color: $white-ter;
}

.has-white-ter-background-color {
  background-color: $white-ter;
}

.has-white-bis-color {
  color: $white-bis;
}

.has-white-bis-background-color {
  background-color: $white-bis;
}

.has-white-color {
  color: $white;
}

.has-white-background-color {
  background-color: $white;
}

.has-orange-color {
  color: $orange;
}

.has-orange-background-color {
  background-color: $orange;
}

.has-yellow-color {
  color: $yellow;
}

.has-yellow-background-color {
  background-color: $yellow;
}

.has-green-color {
  color: $green;
}

.has-green-background-color {
  background-color: $green;
}

.has-turquoise-color {
  color: $turquoise;
}

.has-turquoise-background-color {
  background-color: $turquoise;
}

.has-cyan-color {
  color: $cyan;
}

.has-cyan-background-color {
  background-color: $cyan;
}

.has-blue-color {
  color: $blue;
}

.has-blue-background-color {
  background-color: $blue;
}

.has-purple-color {
  color: $purple;
}

.has-purple-background-color {
  background-color: $purple;
}

.has-red-color {
  color: $red;
}

.has-red-background-color {
  background-color: $red;
}
